
/*--------------------------------------- GLOBAL ----------------------------------------*/

#menuwrapper {
	
	overflow: hidden;
        align: right;
}

/*---------------------------------------------- MENU ----------------------------------------------*/

#mobmenuButton {
	margin-top: -5px;
}

#mobmenuButton {
    background-color: #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    display: block;
    line-height: 30px;
    margin-top: 8px;
    overflow: hidden;
    padding: 0px 10px
}
#logo {
    float:left;
}


#mobmenu {
	display: none;
	-webkit-transition: height 0.3s;
	left: 0px;
	z-index: 10;
}

#mobmenu .sub{
	color:#000000;
	font-weight: bold;
}

#cover {
	position: absolute;
	top:0px;
	left: 0px;
	background-color: #000000;
	width: 0px;
	z-index: 5;
	-webkit-transition: opacity 0.4s;
	opacity: 0;
}

.group {
	width: 100%;
	position: absolute;
	-webkit-transition: left 0.3s;
	background-color: #FFFFFF;
	top: 0px;
	overflow: hidden;
}

.secondary {
	left: 100%;
}

/*.row {
	
	font-size:  16px;
	min-height: 16px;
	
	
        color: #000000;
	
    padding: 15px 20px 13px 10px;
	background-repeat: repeat-x;
	background-position: top left;
}*/

.item {
	padding: 9px 10px 5px 10px;
	border-bottom: 1px solid #E2E2E2;
	min-height:20px;
}


.bold {
	font-weight: bold;
}

